.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  color: black;
}

.parent-container {
  height: 600px;
  display: flex;
  margin-top: 2em;
  padding: 1em;
  flex-direction: column;
  background-color: white;
}
.first-container {
  height: 670px;
  background-color: rgba(162, 214, 238, 0.699);
  padding: 1em;
}
.filter-container {
  text-align: end;
  flex: 1;
}
.actions {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.new-post-container {
  margin-bottom: 1em;
  flex: 1;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
}
