mat-icon {
  margin-right: 25px;
  font-size: 23px;
}

span {
  font-size: 28px;
  vertical-align: top;
}
a {
  margin-bottom: 4em;
}

.logo {
  margin: 3em;
}

#sidebar {
  background-color: rgb(92, 89, 89);
}
