<div
  id="sidebar"
  fxFlex="100"
  fxLayout="column"
  fxLayoutAlign="start center"
  style="height: 100vh"
>
  <img
    class="logo"
    fxFlex="15"
    src="/assets/balon_futbol.jpg"
    alt="Logo de playfutday es un balon de fútbol clásico"
  />

  <mat-nav-list fxFlex="50">
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a mat-list-item routerLink="/post" routerLinkActive="active">
      <mat-icon>flag</mat-icon>
      <span>Post</span>
    </a>
    <a mat-list-item routerLink="/users" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span>Users</span>
    </a>
    <a mat-list-item routerLink="/settings" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </a>
  </mat-nav-list>
  <mat-divider
    [ngStyle]="{
      'height.px': 2,
      'background-color': 'gray',
      width: '100%',
      'margin-bottom': '3em'
    }"
  ></mat-divider>
  <mat-nav-list fxFlex="35">
    <a mat-list-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </a>
  </mat-nav-list>
</div>
