<div class="flex-container">
  <div style="flex: 1">
    <img
      class="logo_login"
      src="/assets/img/balon_futbol.jpg"
      alt="Imagen de un balon de futbol"
    />
  </div>
  <div style="flex: 1; align-self: center;">
    <form
      class="contenedor-form"
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <h2 class="title-login">SING IN</h2>
      <mat-label class="label-input">Username: </mat-label>
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>person_pin</mat-icon>
        <mat-label>Type your username</mat-label>
        <input
          matInput
          name="username"
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <mat-error *ngIf="username.errors && f.submitted"
          >The username must not be blank!</mat-error
        >
      </mat-form-field>

      <mat-label class="label-input">Password: </mat-label>
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>lock</mat-icon>

        <mat-label>Type your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <mat-error *ngIf="username.errors && f.submitted"
          >The password must not be blank!</mat-error
        >
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div [ngStyle]="{ 'margin-top': '2em', 'text-align': 'center' }">
        <button mat-raised-button class="login-button">Login</button>
      </div>
      <div class="alert success" *ngIf="f.submitted && isLoginFailed">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <strong>Login failed: </strong> {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
