<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="parent-container">
    <div class="container-f">
      <div class="row">
        <div class="col-md-4">
          <mat-card class="card-container">
            <!-- Contenido de la card -->
            <div class="circle-container">
              <img
                mat-card-image
                [src]="showImgUser(userSelected)"
                onerror="this.onerror = null; this.src='https://programacion.net/files/article/20161110041116_image-not-found.png'"
                alt="Photo of a user"
                class="circle-image"
              />
              <h3 class="user-name">@{{ userSelected.username }}</h3>
            </div>
            <div class="follower-follow-container">
              <div class="follower-container">
                <span class="follower-count">500</span>
                <span class="follower-label">Followers</span>
              </div>
              <div class="follow-container">
                <span class="follow-count">300</span>
                <span class="follow-label">Follows</span>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card
            style="
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              text-align: center;
            "
          >
            <div style="flex: 1; flex-direction: column">
              <h3>POST</h3>
              <div>
                <span style="font-size: 30px">{{
                  userSelected.myPost.length ?? "0"
                }}</span>
                <mat-icon style="font-size: 40px">flag</mat-icon>
              </div>
            </div>

            <div style="flex: 1; flex-direction: column">
              <h3>Comments</h3>
              <div>
                <span style="font-size: 30px">2</span>
                <mat-icon style="font-size: 40px">chat</mat-icon>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card>
            <h3>Commentaries</h3>
            <div class="comment-container">
              <!-- Imagen circular -->

              <img
                class="user-image"
                mat-card-image
                [src]="showImgUser(userSelected)"
                onerror="this.onerror = null; this.src='https://programacion.net/files/article/20161110041116_image-not-found.png'"
                alt="Photo of a user"
              />
              <!-- Contenido del comentario -->
              <div class="comment-content">
                <div class="username">@{{ userSelected.username }}</div>
                <div class="comment-text">Este es un comentario de ejemplo</div>
              </div>
              <!-- Icono de delete -->
              <mat-icon class="delete-icon">delete</mat-icon>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="table-container">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
            <mat-cell *matCellDef="let post"> {{ post.id }} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="tag">
            <mat-header-cell *matHeaderCellDef> tag </mat-header-cell>
            <mat-cell *matCellDef="let post"> {{ post.tag }} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef> author </mat-header-cell>
            <mat-cell *matCellDef="let post">
              {{ post.author }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>actions</th>
            <td mat-cell *matCellDef="let post" style="text-align: start">
              <!-- Icono de delete -->

              <button mat-icon-button (click)="openDialogDelete(post)">
                <mat-icon style="color: brown">delete</mat-icon>
              </button>

              <!-- Icono de info -->
              <button mat-icon-button>
                <mat-icon style="color: #000">info</mat-icon>
              </button>
            </td>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
