<app-nav-bar fxFlex="18"></app-nav-bar>
<div fxFlex fxLayout="column" style="background-color: rgb(92, 89, 89)">
  <app-top-bar></app-top-bar>
  <div fxFlex style="background-color: rgb(92, 89, 89)">
    <div fxFlex="95" style="background-color: white; height: 78%">
      <div
        fxFlex
        fxLayout="column"
        fxLayoutAlign="start start"
        style="
          background-color: rgba(162, 214, 238, 0.699);
          height: 90%;
          margin: 1em;
          padding: 1vh;
        "
      >
        <div fxFlex="45" fxLayout="row">
          <mat-card class="example-card">
            <mat-card-header>
              <img
                mat-card-sm-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              />
            </mat-card-header>
            <mat-card-content
              ><h1>@{{ userSelected.username }}</h1>
              <mat-icon>person</mat-icon>
              
              
              </mat-card-content
            >
          </mat-card>
        </div>
        <div fxFlex style="background-color: blue">ads</div>
      </div>
    </div>
  </div>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
    ><p style="color: white">Loading...</p></ngx-spinner
  >
</div>
