<div class="panel-header panel-header-sm"></div>
<div class="main-content" style="background-color: gray">
  <div class="first-container">
    <div class="parent-container">
      <div class="main-content">
        <div
          class="row"
          style="margin-top: 2em; justify-content: space-between"
        >
          <div class="col-lg-4">
            <div
              style="background-color: dimgray; display: columns; padding: 1em"
            >
              <h3
                style="
                  text-align: center;
                  color: #ffffff;
                  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                "
              >
                Users states
              </h3>
              <canvas
                id="myChart"
                style="margin: auto; background-color: whitesmoke"
              ></canvas>
            </div>
          </div>
          <div class="col-lg-4">
            <div style="display: columns; background-color: #dfd6d673">
              <div style="padding-top: 1em; padding-left: 0.5em">
                <button (click)="changeYear(-1)" style="border: none">
                  <i class="fas fa-chevron-left"></i>
                </button>
                <span> {{ year }} </span>
                <button (click)="changeYear(1)" style="border: none">
                  <i class="fas fa-chevron-right"></i>
                </button>
              </div>
              <canvas
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
              ></canvas>
            </div>
          </div>
          <div class="col-lg-4" style="display: grid">
            <div
              style="
                background-color: dimgray;
                display: inline-block;
                padding: 1em;
              "
            >
              <div
                style="
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                "
              >
                <h3
                  style="
                    text-align: start;
                    color: #ffffff;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                  "
                >
                  Total Posts
                </h3>
                <mat-form-field>
                  <mat-label>Select a month</mat-label>
                  <mat-select
                    [(value)]="selectedMonth"
                    (selectionChange)="onMonthChange()"
                  >
                    <mat-option [value]="0">None</mat-option>
                    <mat-option
                      *ngFor="let month of months"
                      [value]="month.value"
                      >{{ month.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="margin: auto; background-color: whitesmoke">
                <h5
                  style="
                    text-align: start;
                    color: #333;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                  "
                >
                  Total Posts: {{ totalPost }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
