app-top-bar {
  width: 95%;
}

table {
  background-color: white;
  color: black;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  text-align: justify;
  color: black;
}

.input_label {
  width: 25%;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  color: black;
}
